<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Definición del conjunto de caracteres y título de la página -->
    <meta charset="UTF-8">
    <title>ventas</title>
    <!-- Enlace al icono de la página -->
  <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/2050/PNG/512/dumbbell_gym_icon_124413.png" type="image/x-icon"><!--para agregar el icono a la pagina -->
    <!-- Enlace al archivo CSS de Bootstrap para estilos -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<style>
    /* Estilos personalizados para el fondo y la tarjeta */
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:center;
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
        padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    }
    #video-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw; /* Ancho de la ventana del navegador */
        height: 120vh; /* Altura de la ventana del navegador */
        z-index: -1;
        overflow: hidden; /* Para evitar que el video se desborde */
        display: flex;
        justify-content: center; /* Centra horizontalmente el video */
        align-items: center; /* Centra verticalmente el video */
    }

    #video-container video {
        min-width: 100%; /* Mínimo ancho del video igual al ancho de la ventana del navegador */
        min-height: 100%; /* Mínimo altura del video igual a la altura de la ventana del navegador */
        width: auto; /* Ancho automático para mantener la relación de aspecto */
        height: auto; /* Altura automática para mantener la relación de aspecto */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .card {
        width: 520px;
        background: rgba(255, 255, 255, 0.5); /* Fondo blanco con opacidad del 70% */
        backdrop-filter: blur(5px); /* Efecto de desenfoque para mejorar la transparencia */
    }

    .card-header {
        background-image: url('https://w.forfun.com/fetch/15/159efd54ce603cfcca2d252b65ad3373.jpeg');
        color: #f6f1f1;
    }
</style>
<body>
<!-- Contenedor principal con margen superior -->
<div id="video-container"></div>
<script>
    // Inserta la API de YouTube
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // Función para cargar el video
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('video-container', {
            height: '100%',
            width: '100%',
            videoId: 'IjTOob3BKOw', // Reemplaza 'TU_ID_DE_VIDEO_YOUTUBE' con el ID de tu video de YouTube
            playerVars: {
                'autoplay': 1,
                'controls': 1,
                'loop': 1,
                'mute': 0,
                'playlist': 'IjTOob3BKOw', // Reemplaza 'TU_ID_DE_VIDEO_YOUTUBE' con el ID de tu video de YouTube
                'modestbranding': 1,
                'showinfo': 0,
                'autohide': 1,
                'disablekb': 1,
                'enablejsapi': 1,
                'origin': window.location.origin
            },
            events: {
                'onReady': onPlayerReady
            }
        });
    }

    // Función para desactivar la reproducción automática cuando esté lista
    function onPlayerReady(event) {
        event.target.playVideo(); // Reproduce el video automáticamente
    }
</script>
<div class="container mt-5">
    <div class="col-sm-3">
        <!-- Formulario para confirmar la compra -->
        <form th:action="@{/save2}" th:object="${ventas}" method="POST">
            <div class="card">
                <!-- Encabezado de la tarjeta con título centrado -->
                <div class="card-header">
                    <h3>
                        <center>CONFIRMAR COMPRA</center>
                    </h3>
                </div>
                <center> <h2>Detalles 🎁</h2></center>
                <center> <div id="detalles-compra">
                    <!-- Aquí se mostrarán los detalles de la compra -->
                </div></center>
                <div class="card-body">
                    <!-- Campos del formulario: NOMBRE COMPLETO, ID, TELEFONO, CODIGO POSTAL, DOCUMENTO, TIPO DE DOCUMENTO, DIRECCION, CIUDAD, CORREO, TIPO DE PAGO, TIPO DE PRODUCTO, CANTIDAD, PRECIO -->
                    <div class="row">
                        <div class="form-group col-md-12">
                            <center><label>NOMBRE COMPLETO</label></center>
                            <input th:field="*{nombres}" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>ID</label>
                            <input th:field="*{id}" type="number" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>TELEFONO</label>
                            <input th:field="*{telefono}" type="number" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>CODIGO POSTAL</label>
                            <input th:field="*{codigopostal}" type="number" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>DOCUMENTO</label>
                            <input th:field="*{documento}" type="number" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>TIPO DE DOCUMENTO</label>
                            <select class="form-control" th:field="*{tipodocumento}" required>
                                <option value="Cédula de ciudadanía">Cédula de ciudadanía </option>
                                <option value="Cédula extranjera">Cédula extranjera</option>
                                <option value="Permiso  de permanencia">Permiso de permanencia</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>DIRECCION </label>
                            <input th:field="*{direccion}" type="text" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>CIUDAD </label>
                            <input th:field="*{ciudad}" type="text" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>CORREO</label>
                            <input th:field="*{correo}" type="email" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>TIPO DE PAGO</label>
                            <select class="form-control" th:field="*{tipopago}" required>
                                <option value="NEQUI">NEQUI</option>
                                <option value="DAVIPLATA">DAVIPLATA</option>
                                <option value="BANCOLOMBIA">BANCOLOMBIA</option>
                                <option value="TARJETA DEBITO VISA">MASTERCAD</option>
                                <option value="PAYPAL">PAYPAL</option>
                                <option value="CONTRAENTREGA">CONTRAENTREGA</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>TIPO DE PRODUCTO</label>
                            <select class="form-control" th:field="*{tipoproducto}" required>
                                <option value="Proteina Whey Standard 2 LB">Proteina Whey Standard 2 LB</option>
                                <option value="Creatine Power Lb 10 LB">Creatine Power Lb 10 LB</option>
                                <option value="Bi Pro, Proteina Classic 2 LB">Bi Pro, Proteina Classic 2 LB  </option>
                                <option value="Proteína calórica, 10 LB">Proteína calórica, 10 LB </option>
                                <option value="Kit Tres Termos  Motivacional ">Kit Tres Termos Botella Motivacional </option>
                                <option value="Termo 3 en 1">Termo 3 en 1 </option>
                                <option value="Termo Botella Gym Estruch">Termo Botella Gym Estruche Cargadera Pbold </option>
                                <option value="Buzo Deportivo Slim  ">Buzo Deportivo Slim Fit Gym Lycra </option>
                                <option value="Bolso Deportivo Hombre o Mujer"> Bolso Deportivo Hombre o Mujer Color Rojo </option>
                                <option value="Maletín Puma Para Gym"> Maletín Puma Para Gym con Color Negro </option>
                                <option value="Pantaloneta Licra">Pantaloneta Licra Short Gym </option>
                                <option value="Pantaloneta X2 Licra ">Pantaloneta X2 Licra Larga Hombre </option>

                                <!-- ... (opciones adicionales) -->
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>CANTIDAD</label>
                            <input th:field="*{cantidad}" type="number" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>PRECIO</label>
                            <input th:field="*{precio}" type="number" class="form-control" required>
                        </div>
                    </div>
                    <!-- Pie de la tarjeta con botones de guardar y atrás -->
                    <div class="card-footer">
                        <center> <input type="submit" value="Guardar" class="btn btn-success">
                            <a th:href="@{/gym}" class="btn btn-warning">Atrás</a> </center>
                    </div>
                </div>
              <script>
                // Agregar un evento 'onsubmit' al formulario para llamar a la función cuando se envía el formulario
                document.querySelector('form').addEventListener('submit', function(event) {
                  mostrarMensaje();
                });
                // Función para mostrar el mensaje de inicio de sesión exitoso utilizando SweetAlert
                function mostrarMensaje() {
                  Swal.fire({
                    title: '¡Compra exitosa!',
                    text: '¡Gracias por comprar!',
                    icon: 'success',
                    confirmButtonText: 'Aceptar'
                  }).then((result) => {
                    // Redirigir a la tienda después de que el usuario haga clic en Aceptar
                    if (result.isConfirmed) {
                      window.location.href = 'gym'; // Reemplaza 'ruta-de-tu-tienda' con la URL de tu tienda
                    }
                  });
                }
                    document.addEventListener("DOMContentLoaded", () => {
                        // Recupera los datos del carrito desde localStorage
                        const carritoAlmacenado = localStorage.getItem("carrito");

                        if (carritoAlmacenado) {
                            const carrito = JSON.parse(carritoAlmacenado);
                            const detallesCompra = document.getElementById("detalles-compra");

                            carrito.forEach(producto => {
                                const detalleProducto = document.createElement("p");
                                detalleProducto.textContent = `${producto.nombre} - Cantidad: ${producto.cantidad} - Precio: ${producto.precio}`;
                                detallesCompra.appendChild(detalleProducto);
                            });
                        } else {
                            // Manejar el caso en el que no hay datos de carrito disponibles
                            alert("No hay datos de carrito disponibles.");
                            // Puedes redirigir al usuario a la página principal u otra página según tu lógica
                            window.location.href = "index.html";
                        }

                        const formularioCompra = document.getElementById("formularioCompra");

                        formularioCompra.addEventListener("submit", function (event) {
                            event.preventDefault();

                            // Aquí puedes agregar lógica para procesar el formulario
                            const nombre = document.getElementById("nombre").value;
                            const email = document.getElementById("email").value;

                            // Puedes enviar estos datos a tu servidor o realizar cualquier otra acción necesaria

                            // Limpia el carrito después de la compra
                            localStorage.removeItem("carrito");
                            // Puedes redirigir al usuario a una página de confirmación o a donde desees
                            window.location.href = "impermeable.html";
                        });
                    });

                </script>
            </div>
        </form>
    </div>
</div>
</body>
</html>
